<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <title>FlexGen</title>

      <!-- Main Style Build -->
      <link href="/build/styles.css" rel="stylesheet" type="text/css"/>
      <!-- End Main Style Build -->
      <link rel="shortcut icon" href="favicon.ico"/>
   </head>
   
   <body>
      <div id="ReactContainer"></div>
         
      <script src="/build/app.js"></script>
   </body>
</html>